<div style="margin: -24px -24px 0">
	<mat-toolbar color="white">
		<mat-toolbar-row>
			<mat-icon aria-label="icon">color_lens</mat-icon>
			<span class="ml-2">Clothing Color</span>
		</mat-toolbar-row>
	</mat-toolbar>
</div>
<div mat-dialog-content>
	<div class="text-center position-relative overflow-hidden h-90 mx--2">
		<div class="position-absolute py-3 mx-auto w-100 overflow-x-auto item-container">
			<button mat-fab *ngFor="let color of colors" (click)="onChooseColor(color)"
				[ngStyle]="{'background-color': color.hex}" class="ml-2" [ngClass]="colorPickerInstance.colorPickerItemClass">
				<mat-icon aria-label="add icon">
					{{ color.selected ? 'done' : '' }}
				</mat-icon>
			</button>
		</div>
	</div>
	<div *ngIf="chosenColor">
		<div style="margin: 0 -24px" class="mb-2">
			<mat-toolbar color="white" [ngClass]="colorPickerStyleClass">
				<mat-toolbar-row>
					<mat-icon aria-label="icon">trip_origin</mat-icon>
					<span class="ml-2">Clothing Size</span>
				</mat-toolbar-row>
			</mat-toolbar>
		</div>
		<div class="text-center position-relative overflow-hidden h-90 mx--2">
			<div class="position-absolute py-3 mx-auto w-100 overflow-x-auto item-container">
				<button *ngFor="let size of sizes; let i = index" [ngClass]="{'mat-button-toggle-checked' : size.selected}"
					(click)="onChooseSize(size)" mat-raised-button [matBadgeHidden]="!color_sizes[chosenColor.id][i].count" [matBadge]="color_sizes[chosenColor.id][i].count"
					class="ml-3 text-center rem-11">{{ size.name }}</button>
			</div>
		</div>
		<div *ngIf="chosenSize">
			<div style="margin: 0 -24px" class="mb-2">
				<mat-toolbar color="white" [ngClass]="colorPickerStyleClass">
					<mat-toolbar-row>
						<mat-icon aria-label="icon">scatter_plot</mat-icon>
						<span class="ml-2">Clothing Count</span>
					</mat-toolbar-row>
				</mat-toolbar>
			</div>
			<mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="20" [(ngModel)]="count"
				class="mt-3 w-100 py-3" (input)="onCountChange($event)"></mat-slider>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<div class="mb-2 w-100">
		<button mat-raised-button color="primary" class="float-right" (click)="close()">Finish</button>
	</div>
</div>