<h1 mat-dialog-title>Create Manufacturer</h1>
<div mat-dialog-content>
	<form [formGroup]="createManufacturerForm" (ngSubmit)="createManufacturer()">
		<mat-form-field class="w-100">
			<input matInput autocomplete="off" placeholder="Name" id="name" formControlName="name">
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions>
	<div class="mb-2 w-100">
		<button mat-stroked-button (click)="cancel()">Cancel</button>
		<button mat-raised-button color="primary" class="float-right" (click)="createManufacturer()">Create</button>
	</div>
</div>