<div class="pointer" [routerLink]="['admin', 'clothing', clothing.id]">
	<i *ngFor="let star of stars" class="fas fa-star"></i>
	<i *ngIf="halfStar" class="fas fa-star-half-alt"></i>
	<i *ngFor="let star of emptyStars" class="far fa-star"></i>
	<small class="cl-dark-grey ml-1">(3)</small>
</div>