<form [formGroup]="clothingForm">
	<mat-card class="mb-4">
		<mat-card-header>
			<mat-card-title class="cl-dark-grey">Primary Details</mat-card-title>
		</mat-card-header>

		<mat-form-field class="w-100">
			<input autocomplete="off" matInput placeholder="Name" id="name" formControlName="name">
		</mat-form-field>

		<div class="row align-items-end">
			<div class="col">
				<mat-form-field class="w-100">
					<mat-select placeholder="Manufacturer" formControlName="manufacturer_id">
						<mat-option *ngFor="let m of manufacturers" [value]="m.id">
							{{m.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-auto">
				<div class="form-group">
					<button mat-stroked-button (click)="openManufacturerModal()" class="w-75 cl-pink">Create</button>
				</div>
			</div>
		</div>

		<div class="row align-items-end">
			<div class="col">
				<mat-form-field class="w-100">
					<mat-select placeholder="Category" formControlName="category_id" id="category">
						<mat-option *ngFor="let c of categories" [value]="c.id">
							{{c.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-auto">
				<div class="form-group">
					<button mat-stroked-button (click)="openCategoryModal()" class="w-75 cl-pink">Create</button>
				</div>
			</div>
		</div>

		<div class="row align-items-end">
			<div class="col">
				<mat-form-field class="w-100">
					<mat-select placeholder="Subcategory" formControlName="subcategory_id">
						<mat-option *ngFor="let c of subCategories" [value]="c.id">
							{{c.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-auto">
				<div class="form-group">
					<button mat-stroked-button (click)="openSubCategoryModal()" class="w-75 cl-pink">Create</button>
				</div>
			</div>
		</div>
	</mat-card>

	<mat-card class="mb-4">
		<mat-card-header>
			<mat-card-title class="cl-dark-grey">Pricing</mat-card-title>
		</mat-card-header>

		<div class="row align-items-center">
			<div class="col-4">
				<mat-form-field class="w-100">
					<input autocomplete="off" matInput lux-currency [suffix]="' лв.'" type="tel" (keypress)="onlyNumbers($event)" placeholder="Price"
					 id="price" formControlName="price">
				</mat-form-field>
			</div>
			<div class="col-4" *ngIf="this.clothingForm.get('has_discount').value">
				<mat-form-field class="w-100">
					<input autocomplete="off" matInput lux-currency [suffix]="' лв.'" type="tel" (keypress)="onlyNumbers($event)" placeholder="New Price"
					 id="discount" formControlName="discount">
				</mat-form-field>
			</div>
			<div class="col-4" *ngIf="this.clothingForm.get('has_discount').value">
				<mat-form-field class="w-100">
					<input autocomplete="off" matInput lux-currency [suffix]="'%'" [fractionSize]="0" type="tel" (keypress)="onlyNumbers($event)" placeholder="Discount"
					 id="discount_percentage" formControlName="discount_percentage">
				</mat-form-field>
			</div>
			<div class="col-auto">
				<mat-checkbox id="has_discount" formControlName="has_discount" class="w-75">Discount</mat-checkbox>
			</div>
		</div>
	</mat-card>

	<mat-card class="mb-4">
		<mat-card-header>
			<mat-card-title class="cl-dark-grey">Specs & Features</mat-card-title>
		</mat-card-header>

		<mat-form-field class="w-100 mb-2">
			<textarea autocomplete="off" matInput placeholder="Description" id="description" formControlName="description"></textarea>
		</mat-form-field>

		<div class="row justify-content-between">
			<div class="col-auto">
				<button *ngIf="this.clothingForm.get('status').value && this.clothingForm.get('status').value != status.Archived" 
				mat-stroked-button class="cl-red" (click)="onSave.next(status.Archived)">Archive</button>
				<button *ngIf="this.clothingForm.get('status').value == status.Archived" 
				mat-raised-button class="bg-red cl-white" (click)="onSave.next(status.Archived)">Delete</button>
			</div>
			<div class="col-auto">
				<button *ngIf="!this.clothingForm.get('status').value" mat-raised-button (click)="onSave.next()"
				 class="w-75 bg-pink cl-white">Create</button>
				 <button *ngIf="this.clothingForm.get('status').value == status.Draft" mat-raised-button (click)="onSave.next()"
				 class="w-75 bg-pink cl-white">Save</button>
				<button *ngIf="this.clothingForm.valid && this.clothingForm.get('status').value == status.Draft"
				 mat-raised-button color="accent" class="ml-3 w-75 bg-accent cl-white" (click)="onSave.next(status.Live)">Publish</button>
				<button *ngIf="this.clothingForm.get('status').value == status.Live || this.clothingForm.get('status').value == status.Archived" mat-stroked-button class="ml-3 w-75 cl-pink"
				 (click)="onSave.next(status.Draft)">Draft</button>
			</div>
		</div>
	</mat-card>
</form>