<form class="mt-4 container">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" autocomplete="email" name="email" [(ngModel)]="params.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" autocomplete="current-password" name="password" [(ngModel)]="params.password">
  </div>
  <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</form>