<div class="container-fluid wrapper mt-4">
	<div class="row class">
		<aside *ngIf="!isMobile" class="col col-auto">
			<div style="width: 250px;">
				<div class="position-fixed h-100" style="width: 250px;">
					<!-- <div style="font-size: 1.2rem" class="font-weight-bold d-inline-block cl-mat-black">ФИЛТРИРАЙ</div> -->
					<div class="overflow-hidden w-100">
						<lux-filter class="d-block w-100 h-100" style="overflow-y: scroll; max-height: calc(100vh - 75px); box-sizing: content-box; padding-right: 17px;"></lux-filter>
					</div>
				</div>
			</div>
		</aside>
		<main class="col mt-2">
			<div>Колекция / Мъже / Дрехи</div>
			<div class="rem-15 font-weight-bold cl-mat-black">Мъжки Дрехи</div>
			<div class="mb-4">{{ clothing.length }} артикула</div>
			<section class="row m-0">
				<clothing-card class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4 pl-1 pr-1" *ngFor="let c of clothing" [clothing]="c" ></clothing-card>
			</section>
		</main>
	</div>
</div>

<lux-menu *ngIf="isMobile"></lux-menu>