<div class="container-fluid">
	<div class="row">
		<div class="col-sm">
				<div *ngIf="!isMobile" class="row">
					<div class="col-xl-6 p-1" *ngFor="let image of clothing?.images">
						<img *ngIf="currImage" class="w-100 h-100" src="{{ currImage.uri }}" srcset="{{ currImage.srcset }}"
							alt="{{ clothing.name }}">
					</div>
				</div>
				<div *ngIf="isMobile && clothing?.images" class="row">
					<div class="col p-0">
						<carousel [images]="clothing?.images"></carousel>
					</div>
				</div>
			</div>
		
			<div class="col-sm col-md-6 col-lg-auto mt-4" style="width: 600px">
				<div class="row justify-content-between">
					<div class="col-auto rem-12 font-weight-bold">{{ clothing?.name  }}</div>
					<div class="col-auto rem-12 font-weight-bold">{{ clothing?.price | luxCurrency: ' лв.'  }}</div>
				</div>
			</div>
	</div>
</div>