<h1 mat-dialog-title>Create Category</h1>
<div mat-dialog-content>
	<form [formGroup]="createCategoryForm" class="mb-2">
		<mat-form-field class="w-100">
			<input matInput autocomplete="off" placeholder="Name" id="name" formControlName="name">
		</mat-form-field>
		<mat-radio-group formControlName="gender">
			<mat-radio-button *ngFor="let g of genders" [value]="g.id" class="mr-3">
				{{ g.name }}
			</mat-radio-button>
		</mat-radio-group>
	</form>
</div>
<div mat-dialog-actions>
	<div class="mb-2 w-100">
		<button mat-stroked-button (click)="cancel()">Cancel</button>
		<button mat-raised-button color="primary" class="float-right" (click)="createCategory()">Create</button>
	</div>
</div>