<h1 mat-dialog-title>Create Subcategory</h1>
<div mat-dialog-content>
	<form [formGroup]="createSubCategoryForm" class="mb-2">
		<mat-form-field class="w-100">
			<input matInput autocomplete="off" placeholder="Name" id="name" formControlName="name">
		</mat-form-field>
		<mat-form-field class="w-100">
			<mat-select placeholder="Category" formControlName="category_id">
				<mat-option *ngFor="let c of categories" [value]="c.id">
					{{c.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions>
	<div class="mb-2 w-100">
		<button mat-stroked-button (click)="cancel()">Cancel</button>
		<button mat-raised-button color="primary" class="float-right" (click)="createSubCategory()">Create</button>
	</div>
</div>