<div class="w-100 h-45">
	<nav role="navigation" class="w-100 h-45 position-fixed bg-body">
		<div id="top-bar" class="w-100 h-100 position-relative no-select" style="z-index: 2;">

			<input type="checkbox" class="menuInput display-block position-absolute h-100 w-50px pointer hidden z-999" />

			<div id="lux-icon" class="w-20 position-absolute ml-3 mt-3" style="z-index: 3">
				<span class="bg-dark-grey"></span>
				<span class="bg-dark-grey"></span>
				<span class="bg-dark-grey"></span>
			</div>

			<div class="lux-font w-100 rem-15 position-absolute" style="left: 60px; line-height: 44px; letter-spacing: 1px;">
				<span (click)="navigate('collection')">LUXINTIMO</span>
			</div>

			<div class="float-right position-relative w-40 h-100 mr-1">
				<svg viewBox="0 0 24 24" width="24" height="24" class="absolute-center" style="fill: #606060; line-height: 1; font-size: 24px;">
					<path d="M12 22.5c1.1 0 2-.9 2-2h-4a2 2 0 0 0 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.86 6 8.42 6 11.5v5l-2 2v1h16v-1l-2-2z"></path>
				</svg>
			</div>

			<div class="float-right position-relative w-40 h-100">
				<svg viewBox="0 0 24 24" width="24" height="24"  class="absolute-center" style="fill: #606060; line-height: 1; font-size: 24px;">
					<path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
				</svg>
			</div>

			<div id="top-bar-container" class="position-absolute l-0 t-0 bg-body h-100vh bg-body" style="width: 280px; z-index: 1;">
				<ul class="h-100 rem-11 pb-4" style="overflow: auto;">
					<li class="py-2 pl-4 lux-close outline-none" [routerLink]="['collection']" [queryParams]="{ gender: 1 }">Мъжко</li>
					<li class="py-2 pl-4 lux-close outline-none" [routerLink]="['collection']" [queryParams]="{ gender: 2 }">Дамско</li>
					<li class="py-2 pl-4 lux-close outline-none" [routerLink]="['collection']" [queryParams]="{ gender: 0, sort: 3 }">Промоции</li>
					<li class="py-2 pl-4 lux-close outline-none">Контакти</li>
					<li class="py-2 pl-4 lux-close outline-none" *ngIf="user?.admin" [routerLink]="['admin']">Админ</li>
					<hr>
					<li class="py-2 pl-4 rem-9 lux-close outline-none" *ngIf="!user" [routerLink]="['login']">Вход / Регистрация</li>
					<div *ngIf="user">
						<li class="py-2 pl-4 rem-9 lux-close outline-none">{{ user.name }} Профил</li>
						<li class="py-2 pl-4 rem-9 lux-close outline-none" (click)="logout()">Изход</li>
					</div>
				</ul>
			</div>

			<div id="lux-curtain" class="position-fixed t-0 l-0 h-100vh vw-100 bg-mat-black hidden lux-close"></div>
		</div>
	</nav>
</div>