<div id="lux-menu" class="w-100 h-100 position-relative no-select" style="z-index: 2;">

	<input type="checkbox" class="menuInput w-50px h-50px position-fixed pointer hidden z-999" style="right: 20px; bottom: 20px;" />

	<div id="lux-icon" class="lux-fab lux-fab-filter position-fixed bg-pink circle" style="right: 20px; bottom: 20px; z-index: 3">
	</div>

	<div id="lux-menu-container" class="position-fixed t-0 r-0 bg-body h-100vh" style="width: 280px; z-index: 1;">
		<div class="overflow-hidden">
			<lux-filter class="d-block w-100 h-100 px-3" style="overflow-y: scroll; max-height: calc(100vh - 145px);"></lux-filter>
		</div>
	</div>

	<div id="lux-curtain" class="position-fixed t-0 l-0 h-100vh vw-100 bg-mat-black hidden lux-close"></div>
</div>