<ul>
	<li class="position-relative mb-2 lux-dropdown">
		<input type="checkbox" class="display-block position-absolute l-0 t-0 w-100 pointer hidden z-999" style="height: 42px;" />
		<div class="text-uppercase w-100 position-relative rem-9 cl-black" style="height: 42px; line-height: 42px; vertical-align: middle;">{{ title }}</div>
		<ul class="overflow-hidden font-weight-normal cl-black" style="max-height: 0">
			<ng-content></ng-content>
		</ul>
	</li>
</ul>