<div class="position-relative">
	<carousel *ngIf="!preview" [images]="images"></carousel>
	<cropper *ngIf="preview" [uri]="previewUri" (close)="onPreviewClose()"></cropper>
</div>
<div class="text-center my-3" [hidden]="preview">
	<span *ngIf="currentImage">
		<button mat-fab (click)="deleteImage()" class="mr-2 bg-red">
			<mat-icon aria-label="icon">delete</mat-icon>
		</button>
		<button mat-fab (click)="openSizeModal()" class="mr-2 bg-purple">
			<mat-icon aria-label="icon">tune</mat-icon>
		</button>
		<span (click)="openColorPickerModal()" class="mr-2">
			<button mat-fab class="bg-accent">
				<div *ngIf="currentImage.color" class="position-absolute circle w-20 h-20 t-0 r-0 border-body z-999" [ngStyle]="{'background-color': currentImage.color.hex}"></div>
				<mat-icon aria-label="icon">color_lens</mat-icon>
			</button>
		</span>
	</span>
	<button mat-fab class="bg-pink">
		<uploader [uri]="uploadUri" [data]="uploadData" (upload)="onUpload($event)"
		 (preview)="onPreview($event)" (click)="onSave.next()"></uploader>
		<mat-icon aria-label="add icon">add</mat-icon>
	</button>
</div>