<div class="position-relative">
	<div class="siema"></div>

	<div class="position-absolute b-15 h-20 d-flex justify-content-center align-items-center w-100">
		<div *ngFor="let image of images; let i = index" class="circle w-10 h-10 mr-2 trans-02 bg-white border-grey" [ngClass]="{'mb-2': currentSlide === i}"></div>
	</div>
</div>