<div class="container my-4">
	<div class="row">
		<div class="col-md-6 p-0">
			<clothing-top [onSave]="onSave" [fullClothing]="fullClothing"></clothing-top>
		</div>

		<div class="col">
			<clothing-form [clothingForm]="clothingForm" [onSave]="onSave"></clothing-form>
			<lux-spinner *ngIf="loading"></lux-spinner>
		</div>
	</div>
</div>