/* Reinvented Color Wheel */

.reinvented-color-wheel,.reinvented-color-wheel--hue-handle,.reinvented-color-wheel--hue-wheel,.reinvented-color-wheel--sv-handle,.reinvented-color-wheel--sv-space {
	touch-action: manipulation;
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.reinvented-color-wheel {
	position: relative;
	display: inline-block;
	line-height: 0;
	border-radius: 50%
}

.reinvented-color-wheel--hue-wheel {
	border-radius: 50%
}

.reinvented-color-wheel--sv-space {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto
}

.reinvented-color-wheel--hue-handle,.reinvented-color-wheel--sv-handle {
	position: absolute;
	box-sizing: border-box;
	pointer-events: none;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: inset 0 0 0 1px #000
}