<div class="position-relative w-100 pt-125">
	<div class="position-absolute l-0 t-0 w-100 h-100">
		<img *ngIf="curi" (load)="onImageLoad()" id="image" class="w-100 h-100 cover" [src]="curi">
		<lux-spinner *ngIf="!curi || loading"></lux-spinner>
	</div>
</div>

<div class="text-center my-3">
	<button mat-fab color="warn" (click)="cancel()" class="mr-2">
		<mat-icon aria-label="add icon">close</mat-icon>
	</button>
	<button mat-fab color="white" (click)="rotateLeft()" class="mr-2">
		<mat-icon aria-label="add icon">rotate_left</mat-icon>
	</button>
	<button mat-fab color="white" (click)="rotateRight()" class="mr-2">
		<mat-icon aria-label="add icon">rotate_right</mat-icon>
	</button>
	<button mat-fab color="white" (click)="changeAspect()" class="mr-2">
		<mat-icon aria-label="add icon">aspect_ratio</mat-icon>
	</button>
	<button mat-fab color="primary" (click)="crop()">
		<mat-icon aria-label="add icon">transform</mat-icon>
	</button>
</div>