<div style="margin: -24px -24px 20px;">
	<mat-toolbar color="accent" [ngClass]="colorPickerInstance.colorPickerStyleClass">
		<mat-toolbar-row>
			<mat-icon aria-label="icon">color_lens</mat-icon>
			<span class="ml-2">Color Picker</span>
		</mat-toolbar-row>
	</mat-toolbar>
</div>
<div mat-dialog-content>
	<color-picker class="d-block mb-1"></color-picker>
	<div class="mb-2 text-center">
		<form [formGroup]="colorForm">
			<mat-form-field class="w-100px">
				<input matInput placeholder="Name" id="name" formControlName="name" [matAutocomplete]="auto">
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let uc of uniqueColors" [value]="uc.id">
						{{ uc.name }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</form>
	</div>
	<div class="text-center position-relative overflow-hidden h-90 mx--2">
		<div class="position-absolute pb-3 pt-1 mx-auto w-100 overflow-x-auto item-container">
			<button mat-fab (click)="toggleCreateColor()" class="ml-4 bg-white">
				<mat-icon aria-label="icon" class="cl-mat-black">{{ creatingColor ? 'close' : 'add' }}</mat-icon>
			</button>
			<button mat-fab *ngFor="let color of colors" (click)="onChooseColor(color)"
				[ngStyle]="{'background-color': color.hex}" class="ml-2"
				[ngClass]="colorPickerInstance.colorPickerItemClass">
				<mat-icon aria-label="add icon">
					{{ color.selected ? 'done' : '' }}
					{{ color.edit ? 'edit' : '' }}
					{{ color.delete ? 'delete' : '' }}
				</mat-icon>
			</button>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<div class="my-2 w-100">
		<button mat-stroked-button (click)="cancel()" class="w-75">Cancel</button>
		<button mat-raised-button class="float-right w-75 bg-pink cl-white" (click)="onSelect()"
			*ngIf="selectingColor">Select</button>
		<button mat-raised-button class="float-right w-75 bg-accent cl-white" (click)="onCreate()"
			*ngIf="creatingColor">Create</button>
		<button mat-raised-button color="primary" class="float-right w-75 bg-purple cl-white" (click)="onEdit()"
			*ngIf="editingColor">Edit</button>
		<button mat-raised-button color="warn" class="float-right w-75 bg-red cl-white" (click)="onDelete()"
			*ngIf="deletingColor">Delete</button>
	</div>
</div>