<article class="w-100">
	<div class="w-100 position-relative pointer" [routerLink]="['/clothing', clothing.id]" [ngClass]="[currImage?.aspect === 1 ? 'pt-100' : 'pt-125']">
		<img *ngIf="currImage" class="w-100 h-100 position-absolute l-0 t-0 obj-cover" src="{{ currImage.uri }}" srcset="{{ currImage.srcset }}"
		 alt="{{ clothing.name }}">
	</div>
	<div class="pl-3 cl-mat-black mt-3">
		<div class="mb-2">
			<div *ngFor="let color of colors" class="circle d-inline-block mr-3 m-last w-25px h-25px border-body mat-shadow pointer position-relative"
			 (click)="changeImage(color)" [ngStyle]="{'background-color': color.hex}" [ngClass]="{'shadow-mat-black': color.id === currImage.color_id}">
			 <!-- <div class="m-w-25px h-25px border-body mat-shadow pointer position-relative"></div> -->
			</div>
		</div>
		<div>{{clothing.manufacturer?.name}} {{clothing.name}}</div>
		<div *ngIf="clothing.discount; else elseTemplate">
			<div class="cl-dark-grey">
				<del>{{clothing.price | luxCurrency: ' лв.' }}</del>
				<span class="cl-red font-weight-normal ml-1">(-{{ clothing.percentage }}%)</span>
			</div>
			<div class="font-weight-bold">{{clothing.discount | luxCurrency: ' лв.' }}</div>
		</div>
		<ng-template #elseTemplate>
			<div class="font-weight-bold ">{{clothing.price | luxCurrency: ' лв.' }}</div>
		</ng-template>

		<lux-stars class="mt-1 d-inline-block" [clothing]="clothing"></lux-stars>
	</div>
</article>