/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

/* COLORS */

$body: #fafafa;
$mat-black: #333333;
$black: #000000;
$white: #ffffff;
$purple: #a681e2;
$accent: #e281cd;
$red: #e15a67;
$pink: #E28181; //#E3A7A9;
$blue: #64A6BD;
$dark-grey: #606060;
$light-grey: #9e9e9e;
$medium-grey: #777777;

$colors-list: ($mat-black: 'mat-black',
$black: 'black',
$body: 'body',
$light-grey: 'light-grey',
$white: 'white',
$purple: 'purple',
$accent: 'accent',
$red: 'red',
$pink: 'pink',
$blue: 'blue',
$dark-grey: 'dark-grey',
$medium-grey: 'medium-grey',
);

@each $val,
$key in $colors-list {
  .bg-#{$key} {
    background-color: #{$val} !important;
  }

  .cl-#{$key} {
    color: #{$val} !important;
  }
}

/* Styles */

uploader {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $body;
  font-size: 16px;
}

ul {
	margin: 0;
	margin-left: 0;
  padding: 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

input[type="checkbox"] {
  height: auto;
  width: auto;
}

button {
  border: none;
}

button, .outline-none {
  outline: none !important;
}

.wrapper {
  max-width: 2000px;
}

.cover {
  background-size: cover !important;
}

.obj-cover {
  object-fit: cover;
}

.pointer {
  cursor: pointer !important;
}

.mx--2 {
  margin: 0 -20px;
}

.mx-5 {
  margin: 0 10px !important;
}

.m-auto {
  margin: auto !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.w-10 {
  width: 10px;
}

.h-10 {
  height: 10px;
}

.w-20 {
  width: 20px;
}

.h-20 {
  height: 20px;
}

.w-25px {
  width: 25px;
}

.h-25px {
  height: 25px !important;
}

.w-40 {
  width: 40px !important;
}

.h-40 {
  height: 40px !important;
}

.w-45 {
  width: 45px !important;
}

.h-45 {
  height: 45px !important;
}

.w-50px {
  width: 50px !important;
}

.h-50px {
  height: 50px !important;
}

.w-75 {
  width: 75px !important;
}

.h-90 {
  height: 90px !important;
}

.h-190 {
  height: 190px !important;
}

.h-250 {
  height: 250px !important;
}

.rem-9 {
  font-size: 0.9rem;
}

.rem-1 {
  font-size: 1rem;
}

.rem-11 {
  font-size: 1.1rem;
}

.rem-12 {
  font-size: 1.2rem;
}

.rem-15 {
  font-size: 1.5rem;
}

.rem-17 {
  font-size: 1.7rem;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24) !important;
}

.mat-shadow {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.trans-02 {
  transition: 0.2s;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.hidden {
  opacity: 0;
}

.z-999 {
  z-index: 999;
}

.pt-100 {
  padding-top: 100%;
}

.pt-125 {
  padding-top: 125%;
}

.w-100px {
  width: 100px;
}

.h-100vh {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.w-150 {
  width: 150px !important;
}

.w-200 {
  width: 200px !important;
}

.w-250 {
  width: 250px !important;
}

.circle {
  border-radius: 50%;
}

.b-15 {
  bottom: 15px;
}

.l-0 {
  left: 0;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.m-last:last-child {
	margin: 0 !important;
}

.m-auto {
  margin: auto;
}

.border-body {
  border: 2px solid $body;
}

.border-grey {
  border: 1px solid $light-grey !important;
}

.border-dashed {
  border: 5px dashed $dark-grey;
}

.no-select {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto
}

.word-break-all {
  word-break: break-all;
}

.border-body {
  border: 2px solid $body;
}

.shadow-mat-black {
  box-shadow: 0 0 0 2px $mat-black;
}

.underline,
.underline-hover:hover {
	text-decoration: underline;
}

.item-container {
  white-space: nowrap;

  >button:last-child {
    margin-right: 20px;
  }
}

.lux-font {
  font-family: 'Open Sans Condensed', cursive;
}

#lux-icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#lux-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: $black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate (0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#lux-icon span:nth-child(1) {
  top: 0px;
}

#lux-icon span:nth-child(2) {
  top: 6px;
}

#lux-icon span:nth-child(3) {
  top: 12px;
}

#top-bar input:checked~div span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#top-bar input:checked~div span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#top-bar input:checked~div span:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#lux-curtain {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.4s linear, opacity 0.4s linear;
  -moz-transition: visibility 0.4s linear, opacity 0.4s linear;
  -o-transition: visibility 0.4s linear, opacity 0.4s linear;
  transition: visibility 0.4s linear, opacity 0.4s linear;

}

#lux-menu input:checked~#lux-curtain,
#top-bar input:checked~#lux-curtain {
  visibility: visible;
  opacity: 0.4;
  transition: opacity 0.4s;
}

#top-bar-container {
  padding-top: 50px;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s ease;
}


#top-bar input:checked~#top-bar-container {
  transform: none;
}

#lux-menu-container {
  padding-top: 50px;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s ease;
}


#lux-menu input:checked~#lux-menu-container {
  transform: none;
}

/* FILTER */

.lux-dropdown>div::before,
.lux-dropdown>div::after {
  content: " ";
  position: absolute;
  right: 5px;
  top: 50%;
  width: 15px;
  height: 1px;
  background-color: $dark-grey;
}

.lux-dropdown>div::after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -sand-transform: rotate(90deg);
}

.lux-dropdown>ul {
  transition: max-height .4s ease;
}

.lux-dropdown>div {
  transition: background-color .1s ease;
}

.lux-dropdown>input:checked+div::after {
  display: none;
}

.lux-checkbox {
  padding-left: 35px;
}

.checkmark-empty, .checkmark {
  height: 22px;
	width: 22px;
	border: 1px solid $light-grey;
}

.lux-checkbox:hover input:not(:checked) ~ .checkmark:before {
	display: block;
	background-color: $light-grey;
}

.checkmark:before {
  content: "";
  position: absolute;
  display: none;
  vertical-align: bottom;
}

.lux-checkbox input:checked ~ .checkmark:before {
  display: block;
}

.checkmark-box,
.lux-checkbox .checkmark:before {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
  width: 10px;
	height: 10px;
	background-color: $mat-black;
}

.lux-btn {
  background: $body;
  cursor: pointer;
}

.lux-btn:hover {
	color: $body;
}

.lux-btn-mat {
  border: 1px solid $medium-grey;
  color: $black;
}

.lux-btn-mat:hover {
  background: $mat-black;
  border: 1px solid $mat-black;
}

.lux-filter-icon {
	background-image: url(/assets/icons/tune.svg);
	background-size: 100%;
}

.lux-fab {
  width: 56px;
  height: 56px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

  &-filter::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    background-image: url(/assets/icons/tune.svg);
	  // background-size: 100%;
  }
}