	<lux-dropdown *ngIf="categories" title="КАТЕГОРИЯ" id="filterDropdown">
		<li *ngFor="let c of categories" class="py-2 underline-hover word-break-all ml-2 outline-none" [ngClass]="{'underline font-weight-bold': c.selected}"
		 (click)="selectCategory(c)">
			<a class="d-block pointer">{{ c.name }}</a>
		</li>
	</lux-dropdown>
	
	<lux-dropdown *ngIf="selectedCategory && subCategories?.length > 0" title="ПОДКАТЕГОРИЯ" id="filterDropdown">
		<li *ngFor="let s of subCategories" class="py-1">
			<label class="lux-checkbox d-flex pointer position-relative no-select underline-hover word-break-all ml-2">
				{{ s.name }}
				<input type="checkbox" class="position-absolute hidden w-0 h-0" [(ngModel)]="s.selected" (change)="selectSubCategory(s)">
				<span class="checkmark position-absolute t-0 l-0"></span>
			</label>
		</li>
	</lux-dropdown>
	
	<lux-dropdown title="РАЗМЕР" id="filterDropdown">
		<li *ngFor="let s of sizes" class="py-1">
			<label class="lux-checkbox d-flex pointer position-relative no-select underline-hover word-break-all ml-2">
				{{ s.name }}
				<input type="checkbox" class="position-absolute hidden w-0 h-0" [(ngModel)]="s.selected" (change)="selectSize(s)">
				<span class="checkmark position-absolute t-0 l-0"></span>
			</label>
		</li>
	</lux-dropdown>
	
	<lux-dropdown title="ЦВЯТ" id="filterDropdown">
		<li *ngFor="let c of colors" class="py-1">
			<label class="lux-checkbox d-flex pointer position-relative no-select underline-hover word-break-all ml-2">
				{{ c.name }}
				<input type="checkbox" class="position-absolute hidden w-0 h-0" [(ngModel)]="c.selected" (change)="selectColor(c)">
				<span class="checkmark-empty position-absolute t-0 l-0">
					<div [ngStyle]="{'background-color': c.selected ? c.hex : c.hex + '77'}" class="checkmark-box position-absolute"></div>
				</span>
			</label>
		</li>
	</lux-dropdown>
	
	<lux-dropdown title="МАРКА" id="filterDropdown">
		<li *ngFor="let m of manufacturers" class="py-1">
			<label class="lux-checkbox d-flex pointer position-relative no-select underline-hover word-break-all ml-2">
				{{ m.name }}
				<input type="checkbox" class="position-absolute hidden w-0 h-0" [(ngModel)]="m.selected" (change)="selectManufacturer(m)">
				<span class="checkmark position-absolute t-0 l-0"></span>
			</label>
		</li>
	</lux-dropdown>
	
	<lux-dropdown title="ЦЕНА" id="filterDropdown">
		<li class="py-1 pl-2">
			<div class="row">
				<div class="col-auto">
					<label for="minPrice" style="width: 25px">MIN:</label>
				</div>
				<div class="col">
					<input name="minPrice" id="minPrice" [(ngModel)]="minPrice" placeholder="0" class="w-100 pl-1 border-grey bg-body" lux-currency
					 [suffix]="' лв.'" type="tel">
				</div>
			</div>
		</li>
	
		<li class="py-1 pl-2">
			<div class="row">
				<div class="col-auto">
					<label for="maxPrice" style="width: 25px">MAX:</label>
				</div>
				<div class="col">
					<input name="maxPrice" id="maxPrice" [(ngModel)]="maxPrice" placeholder="0" class="w-100 pl-1 border-grey bg-body" lux-currency
					 [suffix]="' лв.'" type="tel">
				</div>
			</div>
		</li>
	
		<li class="py-1">
			<button class="w-100 px-2 py-1 lux-btn lux-btn-mat lux-close" (click)="setPrice()">ТЪРСИ</button>
		</li>
	</lux-dropdown>
	
	<button class="w-100 px-2 py-1 lux-btn lux-btn-mat" (click)="clearParams()">ИЗЧИСТИ</button>

<!-- 
	<li class="position-relative lux-dropdown mb-2">
		<input type="checkbox" class="display-block position-absolute l-0 t-0 w-100 pointer hidden z-999" style="height: 42px;" />
		<div class="text-uppercase w-100 position-relative" style="height: 42px; line-height: 42px; vertical-align: middle;">ЦВЯТ</div>
		<ul class="overflow-hidden ml-2 font-weight-normal cl-black" style="max-height: 0">
			<li class="pointer">
				<input type="checkbox"><span>ЦВЯТ 1</span>
			</li>
			<li class="pointer">
				<input type="checkbox"><span>ЦВЯТ 2</span>
			</li>
			<li class="pointer">
				<input type="checkbox"><span>ЦВЯТ 3</span>
			</li>
		</ul>
	</li>

	<li class="position-relative lux-dropdown mb-2">
		<input type="checkbox" class="display-block position-absolute l-0 t-0 w-100 pointer hidden z-999" style="height: 42px;" />
		<div class="text-uppercase w-100 position-relative" style="height: 42px; line-height: 42px; vertical-align: middle;">МАРКА</div>
		<ul class="overflow-hidden ml-2 font-weight-normal cl-black" style="max-height: 0">
			<li class="pointer">
				<input type="checkbox"><span>МАРКА 1</span>
			</li>
			<li class="pointer">
				<input type="checkbox"><span>МАРКА 2</span>
			</li>
			<li class="pointer">
				<input type="checkbox"><span>МАРКА 3</span>
			</li>
		</ul>
	</li>

	<li class="position-relative lux-dropdown mb-2">
		<input type="checkbox" class="display-block position-absolute l-0 t-0 w-100 pointer hidden z-999" style="height: 42px;" />
		<div class="text-uppercase w-100 position-relative" style="height: 42px; line-height: 42px; vertical-align: middle;">СОРТИРАЙ</div>
		<ul class="overflow-hidden ml-2 font-weight-normal cl-black" style="max-height: 0">
			<li class="pointer">
				<input type="checkbox"><span>Рейтинг</span>
			</li>
			<li class="pointer">
				<input type="checkbox"><span>Най-нови</span>
			</li>
			<li class="pointer">
				<input type="checkbox"><span>Намаление</span>
			</li>
			<li class="pointer">
				<input type="checkbox"><span>Цена: Възходяща</span>
			</li>
			<li class="pointer">
				<input type="checkbox"><span>Цена: Низходяща</span>
			</li>
		</ul>
	</li>

	<li class="position-relative lux-dropdown mb-2">
		<input type="checkbox" class="display-block position-absolute l-0 t-0 w-100 pointer hidden z-999" style="height: 42px;" />
		<div class="text-uppercase w-100 position-relative" style="height: 42px; line-height: 42px; vertical-align: middle;">ЦЕНА</div>
		<ul class="overflow-hidden ml-2 font-weight-normal cl-black" style="max-height: 0">
			<li class="pointer">
				<input type="checkbox"><span>ЦЕНА 1</span>
			</li>
			<li class="pointer">
				<input type="checkbox"><span>ЦЕНА 2</span>
			</li>
			<li class="pointer">
				<input type="checkbox"><span>ЦЕНА 3</span>
			</li>
		</ul>
	</li>
</ul> -->